{% extends 'base.html.twig' %}
{% block title %}categories{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/centrar.css')}}">
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12 form-signin ">
            <h1>Categorias</h1>
            <!-- conteo de entradas-->
            <div class="count ">
                        <span class="label label-primary">
                            Entradas en total: {{ categories.getTotalItemCount }}
                        </span>
            </div>
            <br/>

            <a class="btn btn-primary" href="{{ path('app_productos') }}">Productos</a>
            <br>
            <br>
            <a class="btn btn-primary" href="{{ path('category_new') }}">nuevo</a>
            <br/>

            <table class="table table-striped js-table ">
                <thead>
                <tr>
                    <!-- sorting -->
                    <th>{{ knp_pagination_sortable(categories, 'ID', 'c.id') }}</th>
                    <th{% if categories.isSorted('c.name') %} class="sorted"{% endif %}>
                        {{ knp_pagination_sortable(categories, 'NAME', 'c.name') }}
                    </th>
                    <th>ACTIVE</th>
                    <th>EDIT</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>{{ category.active }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(categories) }}
        </div>
    </div>
{% endblock %}

