{% extends 'base.html.twig' %}
{% block title %}category{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">

            <a class="btn btn-primary" href="{{ path('category_new') }}">NEW</a>

            <table class="table table-striped js-table ">
                <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>active</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>
                            {{ category.id }}
                        </td>
                        <td>
                            {{ category.name }}
                        </td>
                        <td>
                            {{ category.active }}
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                        </td>
                        <td>
                            <a class="btn btn-warning js-delete" data-url="{{ path('category_delete', {'id': category.id}) }}">Delete</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">
                            No category found
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/delete.js') }}"></script>
{% endblock %}

