{% extends 'base.html.twig' %}
{% block title %}product{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">

            <a class="btn btn-primary" href="{{ path('product_new') }}">NEW</a>

            <table class="table table-striped js-table ">
                <thead>
                <tr>
                    <th>id</th>
                    <th>code</th>
                    <th>name</th>
                    <th>description</th>
                    <th>brand</th>
                    <th>price</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>
                            {{ product.id }}
                        </td>
                        <td>
                            {{ product.code }}
                        </td>
                        <td>
                            {{ product.name }}
                        </td>
                        <td>
                            {{ product.description }}
                        </td>
                        <td>
                            {{ product.brand }}
                        </td>
                        <td>
                            {{ product.price }}
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('product_edit', {id: product.id}) }}">edit</a>
                        </td>
                        <td>
                            <a class="btn btn-warning js-delete" data-url="{{ path('product_delete', {id: product.id}) }}">Delete</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">
                            No product found
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(products) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/delete.js') }}"></script>
{% endblock %}
