{% extends 'base.html.twig' %}
{% block title %}product{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/centrar.css')}}">
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <form>
                <div class="input-group form-signin">
                    <input type="text"
                           name="p"
                           class="form-control"
                           value="{{ app.request.query.get('p') }}"
                           placeholder="filtrar..."
                    >
                    <div class="input-group-append">
                        <button type="submit"
                                class="btn btn-outline-secondary">
                            <span class="fa fa-search"></span>
                        </button>
                    </div>
                </div>
            </form>

            <a class="btn btn-primary" href="{{ path('app_category') }}">categories</a>
            <br>
            <br>
            <a class="btn btn-primary" href="{{ path('product_new') }}">NEW</a>

            <table class="table table-striped js-table ">
                <thead>
                <tr>
                    <th>id</th>
                    <th>code</th>
                    <th>name</th>
                    <th>description</th>
                    <th>brand</th>
                    <th>price</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>
                            {{ product.id }}
                        </td>
                        <td>
                            {{ product.code }}
                        </td>
                        <td>
                            {{ product.name }}
                        </td>
                        <td>
                            {{ product.description }}
                        </td>
                        <td>
                            {{ product.brand }}
                        </td>
                        <td>
                            {{ product.price }}
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger js-deleteItem" data-toggle="modal" data-target="#exampleModalCenter" data-url="{{ path('product_delete', {'id': product.id}) }}">
                                Delete
                            </button>
                        </td>
                    </tr>


                {% endfor %}

                </tbody>
            </table>
            {{ knp_pagination_render(products) }}
        </div>
    </div>
    <!-- Modal -->
    <div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">borrar Producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    está seguro de que desea eliminar el producto
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="btn btn-warning " id="confirmdelete">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <!-- termina Modal -->
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/delete.js') }}"></script>
{% endblock %}
